---
import { Button } from "@/components/ui/button";
---

<section class="py-16 md:py-32">
    <div class="mx-auto max-w-5xl space-y-8 px-6 md:space-y-16">
        <h2 class="relative z-10 max-w-xl text-4xl font-medium lg:text-5xl">
            Plan Estratégico De Santiago 2030
        </h2>
        <div class="grid gap-6 sm:grid-cols-2 md:gap-12 lg:gap-24">
            <div class="relative mb-6 sm:mb-0">
                <div
                    class="aspect-76/59 relative rounded-2xl from-zinc-300 to-transparent p-px dark:from-zinc-700"
                >
                    <img
                        src="/payments.png"
                        class="hidden rounded-[15px] dark:block"
                        alt="payments illustration dark"
                        width={1207}
                        height={929}
                    />
                    <img
                        src="/content-image.svg"
                        class=""
                        alt="payments illustration light"
                        width={1207}
                        height={929}
                    />
                </div>
            </div>

            <div class="relative space-y-4">
                <p class="text-muted-foreground">
                    Planificación y articulación de proyectos de impacto social
                    para la ciudad de <span
                        class="text-accent-foreground font-bold">Santiago.</span
                    >
                </p>
                <p class="text-muted-foreground">
                    Estructurados de forma estratégica, que a través de un
                    consenso social, proveen propuestas que impactan de forma
                    positiva el futuro de nuestros ciudadanos.
                </p>

                <Button variant="default">Saber Mas</Button>
            </div>
        </div>
    </div>
</section>
