---
import { GetSocialNetwork } from "./SocialNetworks";

const { RedSocial, Enlaces } = Astro.props;
const links = [
    {
        title: "Inicio",
        href: "/",
    },
    {
        title: "Contacto",
        href: "/contacto",
    },
    {
        title: "Política de privacidad",
        href: "/politica-de-privacidad",
    },
    {
        title: "Términos de servicio",
        href: "/terminos-de-servicio",
    },
    {
        title: "Acerca de",
        href: "/nosotros",
    },
];


---

<footer class="py-16 md:py-32">
    <div class="mx-auto max-w-5xl px-6">
        <a href="/" aria-label="ir al inicio" class="mx-auto block size-fit"
        ></a>

        <div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
            {
                Enlaces.map((link: any, index: number) => (
                    <a
                        href={link.Url}
                        class="text-muted-foreground hover:text-primary block duration-150"
                    >
                        <span>{link.Contenido}</span>
                    </a>
                ))
            }
        </div>
        <div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
            {
                RedSocial.map((social: any, index: number) => <GetSocialNetwork data={social.Contenido.toLowerCase()} client:load/>)
            }   
        </div>
        <span class="text-muted-foreground block text-center text-sm">
            © {new Date().getFullYear()}
            {`\tCopyright CDES Todos los derechos reservados`}</span
        >
    </div>
</footer>
